#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-100);
  padding: 88px 120px 120px 120px;

  header {
    text-align: center;

    h1 {
      color: var(--brand-color-red);
      font-family: Inconsolata;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }

    h3 {
      color: var(--color-gray-600);
      font-family: Asap;
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
      margin-top: 8px;
      margin-bottom: 56px;
    }
  }
}

.flex2 {
  width: 888px;
  display: flex;
  justify-content: center;

  gap: 24px;

  h2 {
    color: var(--color-gray-600);
    font-family: Asap;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 8px;
    margin-top: 24px;
  }

  p {
    font: var(--tex-sm);
    color: var(--color-gray-500);
  }
}

.card2 {
  padding: 20px;
  width: 280px;
  border: 2px solid var(--color-gray-200);
  border-radius: 12px;

  img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
  }
}
